# https://raw.githubusercontent.com/elasticdog/packer-arch/master/srv/poweroff.timer
[Unit]
Description=Delayed poweroff

[Timer]
OnActiveSec=1
Unit=poweroff.target
